spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/buyora_db
    username: postgres
    password: Ravi@515241
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
